h1 {
  color: red;
  text-align: center;
}

h3 {
  font-style: italic;
  text-align: center;
  color: green;
}

p {
  color: gold;
}

body {
  background-color: grey;
  font-family: sans-serif;
  text-align: center;
}
