h1 {
  color: hotpink;
  text-align: center;
}

h3 {
  font-style: italic;
  text-align: center;
  color: green;
}

p {
  color: white;
  margin: 55px;
}

body {
  background-image: url(https://wallpapercave.com/wp/wp2334837.jpg);
  font-family: sans-serif;
  text-align: center;
}

img {
  box-shadow: 10px 10px 60px white;
}
a {
  color: hotpink;
}
